@use '../variables'

.main-footer
  color: variables.$text-color-secondary
  background-color: variables.$body-bg-color
  width: 100%
  text-align: center

  a:link, a:visited
    color: white

  p
    margin-bottom: 1rem

.button
  font-weight: bold
  border-radius: 5rem
  height: 3rem
  width: 6rem
