@use '../variables'

.main-footer
  color: variables.$text-color-secondary
  background-color: variables.$body-bg-color
  width: 100%
  text-align: center
  display: flex
  justify-content: flex-end
  align-items: center
  gap: 20px
  padding: 20px

  a:link, a:visited
    color: white

  p
    margin-bottom: 1rem

  .click-counter
    color: variables.$text-color-secondary
    margin: 0
    font-size: 1rem
    
  .easter-egg
    display: flex    
    justify-content: flex-end   
    bottom: 1rem
    right: 1rem
    padding: 0.5rem 1rem
    font-size: 0.8rem
  
    &:hover
      background: #6441a5
      color: variables.$text-color
