@use '../variables'
@use '../mixins'

#social-networks
  @include mixins.center
  gap: 1rem
  margin: 1rem 0

  .social-btn
    padding: .6rem
    background-color: variables.$bg-color-secondary
    border-radius: variables.$card-border-radius
    color: #333
    font-size: 1.8rem
    margin-bottom: 2rem
    @include mixins.center

  #linkedin
    color: #e5e1e1

  #github
    color: #e5e1e1

  #instagram
    color: #e5e1e1

  #twitter
    color: #e5e1e1

  :hover
    background: #6441a5
    color: variables.$text-color
    > svg
      color: variables.$text-color
