@use '../variables'
@use '../mixins'

.technologies-container
  margin-bottom: 1rem

  .technologies-grid
    display: flex
    flex-wrap: wrap
    gap: 1.5rem

    .technology-card
      @include mixins.center
      gap: 1rem
      padding: 1rem
      border: px solid variables.$text-color-secondary
      border-radius: variables.$card-border-radius
      width: 45%
      box-shadow: 2px 2px 2px white
      @media screen and (max-width: 600px)
        width: 100%

      h3
        color: #a6a6a6
        transition: 0.5s

        &:hover
          color: white
      svg
        font-size: 4rem

    #git
      svg
        color: #6441a5
    #js
      svg
        color: #6441a5
    #mongodb
      svg
        color: #6441a5
    #mysql
      svg
        color: #6441a5
    #react
      svg
        color: #6441a5

    /* #css
     svg
     color: #AEC6CF 

    #node
      svg
        color: #6441a5
