@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap')

$text-color: white
$text-color-secondary: #a6a6a6
$body-bg-color: linear-gradient(45deg, rgb(40, 11, 69) 0%, #111, rgb(40, 11, 69) 100%)
$bg-color: #111
$bg-color-secondary: #1d1d1d
$container-border-radius: 30px
$card-border-radius: 20px
