@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap')

$text-color: white
$text-color-secondary: #a6a6a6
$body-bg-color: linear-gradient(45deg, #280b45, #111, #280b45)
$bg-color: #111
$bg-color-secondary: #1d1d1d
$container-border-radius: 30px
$card-border-radius: 20px
