@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap')

$text-color: #67E480
$text-color-secondary: #a6a6a6
$body-bg-color: linear-gradient(45deg, #483C67, #101014, #483C67)
$bg-color: #191622
$bg-color-secondary: #1f1f29
$container-border-radius: 30px
$card-border-radius: 20px
